[submodule "third_party/pickle"]
	path = third_party/pickle
	url = https://github.com/blitz-serving/pickle.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.15.3
[submodule "third_party/cppzmq"]
	path = third_party/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
